# VS2010 output   #
###################
*.log
*.tlog
*.obj
*.opensdf
*.opendb
*.sdf
*.user
*.ipch
*.suo
*.lastbuildstate
*.idb
*.pdb
*.lib
*.cache
*.db

*.db-shm
*.recipe
*.db-shm
builds/vs2010/proteus/proteus/Tool debug/proteus.vcxproj.FileListAbsolute.txt
builds/vs2010/proteus/proteus/Tool release/proteus.vcxproj.FileListAbsolute.txt
builds/vs2010/proteus/proteus/x64/Tool debug/proteus.vcxproj.FileListAbsolute.txt
builds/vs2010/proteus/proteus/x64/Tool release/proteus.vcxproj.FileListAbsolute.txt
